AMAP_API_KEY=replace_with_your_amap_web_service_key
AMAP_JS_API_KEY=replace_with_your_amap_web_js_key
AMAP_SECURITY_JS_CODE=replace_with_your_amap_security_js_code
MAP_BASIC_USER=
MAP_BASIC_PASSWORD=
ROUTEBOOKS_PATH=
